<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791952072032-m3jrqgp333j1m98ckqmggkolr2j6cgr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791952072032-m3jrqgp333j1m98ckqmggkolr2j6cgr2</string>
	<key>API_KEY</key>
	<string>AIzaSyAOXJVqwcNCxK57WJ86bzh7FsMzSHu7Dg4</string>
	<key>GCM_SENDER_ID</key>
	<string>791952072032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>ios-learning-f7e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-learning-f7e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791952072032:ios:6a67c494ed2f1b61649205</string>
</dict>
</plist>